.cnBadgeRoot{
display: flex;
cursor: pointer;
align-items: center;

}

.cnUserBadgeAvatar{
width: 40px;
height: 40px;
margin-right: 10px;
border-radius: 50%;
border: 3px solid transparent;
&:hover{
    border: 3px solid rgb(187, 187, 190);
    transition: 0.3s;
}
}

.cnBadgePlaceHolder{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #efefef;

}
.cnUserBadgeName{
    font-size: 14px;
    font-weight: 500;
    color: black;

}