.cnMainPageRoot {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cnMainPageCard {
  border: none;
  margin-bottom: 30px;
  border-radius: 30px;

  // padding: 20px;
  background-color: #e0e3e6;
}

.cnMainLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
