.cnUserBioRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
}
.cnUserBioAvatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 35px;
}

.cnUserBioInfo {
  display: flex;
  flex-direction: column;
}

.cnUserBioRow {
    display: flex;
    align-items: center;

}
.cnUserBioNickName{
font-weight: 600;
font-size: 28px;
margin-right: 10px;

}
.cnUserBioFirsLastName{
  font-weight: 600;
}